{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ user.username }}
{% endblock %}

{% block header %}
    <div class="container-xl">
        <h2 class="text-muted px-2">{{ user.username }}</h2>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-title">{{ message }}</h4>
                </div>
            {% endfor %}

        {% endif %}
    </div>
{% endblock %}


{% block content %}
    <div class="container-xl">
        <div class="row row-deck row-cards">
            <div class="col-md-6 col-lg-4">
                <div class="card bg-body border-0">
                    <div class="card-body px-0 py-0">
                        {% if user.avatar %}
                            <img class="he-300 w-auto" src="{{ user.avatar.url }}" alt="">
                        {% else %}
                            <img src="{% static 'img/logos/ic/sbcf-default-avatar.webp' %}" alt="">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-8">
                <div class="col-md-6 col-lg-6">
                    <div class="card">
                        <div class="ribbon ribbon-top bg-azure">
                            <img src="{% static 'img/logos/ic/fingerprint.png' %}" alt="">
                        </div>
                        <div class="card-status-start bg-vimeo"></div>
                        <div class="card-header">
                            <h3 class="card-title fw-bold text-muted">User info:</h3>
                        </div>
                        <table class="table card-table table-vcenter he-250">
                            <tbody>
                            <tr class="table-light">
                                <td>First name:</td>
                                <td>
                                    {% if user.first_name %}
                                        {{ user.first_name }}
                                    {% else %}
                                        ---
                                    {% endif %}
                                </td>
                            </tr>
                            <tr class="table-light">
                                <td>Last name:</td>
                                <td>
                                    {% if user.last_name %}
                                        {{ user.last_name }}
                                    {% else %}
                                        ---
                                    {% endif %}
                                </td>
                            </tr>
                            <tr class="table-light">
                                <td>Birthday:</td>
                                <td>
                                    {% if user.birthday %}
                                        {{ user.birthday }}
                                    {% else %}
                                        ---
                                    {% endif %}
                                </td>
                            </tr>
                            <tr class="table-light">
                                <td>Email:</td>
                                <td>
                                    {% if user.email %}
                                        {{ user.email }}
                                    {% else %}
                                        ---
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Gallery</h3>
                        </div>
                        <div class="card-body p-0">
                            <div id="carousel-captions" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item">
                                        <img class="d-block w-auto he-250 m-auto" alt=""
                                             src="{% static 'img/logos/IconnecT-logos/svg/logo-white.svg' %}">
                                        <div class="carousel-caption-background d-none d-md-block"></div>
                                    </div>
                                    <div class="carousel-item"><img class="d-block w-auto he-250 m-auto" alt=""
                                                                    src="{% static 'img/logos/IconnecT-logos/svg/logo-black.svg' %}">
                                        <div class="carousel-caption-background d-none d-md-block"></div>
                                    </div>
                                    <div class="carousel-item"><img class="d-block w-auto he-250 m-auto" alt=""
                                                                    src="{% static 'img/logos/IconnecT-logos/svg/logo-color.svg' %}">
                                        <div class="carousel-caption-background d-none d-md-block"></div>
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block w-auto he-250 m-auto" alt=""
                                             src="{% static 'img/logos/inline_logo/svg/logo-white.svg' %}">
                                        <div class="carousel-caption-background d-none d-md-block"></div>
                                    </div>
                                    <div class="carousel-item active"><img class="d-block w-auto he-250 m-auto" alt=""
                                                                           src="{% static 'img/logos/inline_logo/svg/logo-color.svg' %}">
                                        <div class="carousel-caption-background d-none d-md-block"></div>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carousel-captions" role="button" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carousel-captions" role="button" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if request.user.id == user.id %}
                <div class="hr-text">{% include 'posts/post_create_modal_form.html' %}</div>
            {% else %}
                <div class="hr-text">Posts</div>
            {% endif %}
            <div class="col-lg-3 m-0">
                <ul class="list-unstyled px-1">
                    {% if user == request.user %}
                        <li class="p-2 text-muted fw-bold">Profile actions:</li>
                        <li class="p-2"><a class="btn btn-azure" href="{% url 'user_profile' %}">Messages</a></li>
                        <li class="p-2">
                            <a class="btn btn-azure" href="{% url 'following' request.user.id %}">Following
                                <span
                                        class="badge badge-pill bg-google ms-2">{{ request.user.following_count }}
                        </span>
                            </a>
                        </li>
                        <li class="p-2"><a class="btn btn-azure" href="{% url 'feed' %}">Feed</a></li>
                        <li class="p-2">
                            <a class="btn btn-azure" href="{% url 'followers' request.user.id %}">Followers
                                <span
                                        class="badge badge-pill bg-google ms-2">{{ request.user.followers_count }}
                        </span>
                            </a>
                        </li>
                        <li class="p-2"><a class="btn btn-azure" href="{% url 'user_profile' %}">Groups</a></li>
                        <li class="p-2"><a class="btn btn-azure" href="{% url 'post_archive' request.user.id %}">Post archive</a></li>
                    {% else %}
                        <li class="p-2 text-muted fw-bold">Profile actions:</li>
                        <li class="p-2"><a class="btn btn-green" href="#">Send Message</a></li>
                        <li class="p-2">
                            <a class="btn btn-azure" href="{% url 'following' user.id %}">Following
                                <span
                                        class="badge badge-pill bg-google ms-2">{{ user.following_count }}
                        </span>
                            </a>
                        </li>
                        <li class="p-2">
                            <a class="btn btn-azure" href="{% url 'followers' user.id %}">Followers
                                <span
                                        class="badge badge-pill bg-google ms-2">{{ user.followers_count }}
                        </span>
                            </a>
                        </li>
                        <li class="p-2"><a class="btn btn-azure" href="{% url 'user_profile' %}">Groups</a></li>
                    {% endif %}

                </ul>
            </div>
            {% if current_user_posts %}
                {% for post in current_user_posts %}
                    <div class="col-lg-9">
                        <div class="card">
                            <div class="card-status-start bg-green"></div>
                            <div class="row row-0">
                                <div class="col-3 order-md-last p-1">
                                    {% if post.image %}
                                        <img src="{{ post.image.url }}"
                                             class="w-100 h-100 object-cover card-img-end"
                                             alt="">
                                    {% else %}
                                        <img src="{% static 'img/logos/no_logo/no-image__63632.webp' %}"
                                             class="w-100 h-100 object-cover card-img-end"
                                             alt="">
                                    {% endif %}
                                </div>
                                <div class="col">
                                    <div class="card-body">
                                        <h5 class="h-1 mb-4 px-4">Updated {{ post.updated_at|timesince }} ago</h5>
                                        <p class="text-muted">{{ post.description }}</p>
                                    </div>
                                    {% if user.id == request.user.id %}
                                        <div class="ribbon ribbon-top ribbon-end bg-azure">
                                            <a href="{% url 'delete_post' post.id %}">
                                                <img class="p-1" src="{% static 'img/logos/ic/xbox-x.png' %}" alt="">
                                            </a>
                                        </div>
                                        <div class="ribbon ribbon-top ribbon-start bg-google">
                                            <a href="{% url 'update_post' post.id %}">
                                                <img src="{% static 'img/logos/ic/pencil.png' %}" alt="">
                                            </a>
                                        </div>
                                        <a href="{% url 'post_archiving' post.id %}">
                                            <div class="ribbon ribbon-bottom ribbon-end bg-google">
                                                archive
                                            </div>
                                        </a>
                                        <div class="ribbon ribbon-bottom ribbon-end mb-4">
                                            likes: {{ post.likes.count }}
                                        </div>
                                    {% else %}
                                        <div class="ribbon ribbon-bottom ribbon-end bg-white mb-4">
                                            <a class="icon" href="{% url 'like_post' post.id %}">
                                                {% if request.user in post.likes.all %}
                                                    <img src="{% static 'img/logos/ic/heart_icon-icons.com_54429.png' %}" alt="">
                                                {% else %}
                                                    <img src="{% static 'img/logos/ic/love_heart_icon_178900.png' %}" alt="">
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="ribbon ribbon-bottom ribbon-end">
                                            likes: {{ post.likes.count }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-lg-9"></div>
            {% endif %}
        </div>
    </div>
{% endblock %}