{% extends 'base.html' %}

{% block title %}
    {{ request.user.username }} profile settings
{% endblock %}

{% block header %}
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Account Settings
                    </h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-xl">
        <div class="card p-3">
            {% if request.user.avatar %}
                <img src="{{ request.user.avatar.url }}" width="350" alt="">
            {% endif %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-3">Submit changes</button>
            </form>
        </div>
    </div>
{% endblock %}