.register-signin-link {
    font-size: 18px;
    font-weight: 700;

}

.he-250 {
    height: 250px!important;
}

.he-300 {
    height: 300px!important;
}

.my-logo-bg {
    background-image: url("http://127.0.0.1:8000/static/img/logos/IconnecT-logos/svg/logo-no-background.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 200px;
}

.btn-green-rgba {
    background: rgba(80, 178, 69, 0.4);
    color: white;
    transition-duration: 500ms;
}

.btn-green-rgba:hover {
    background: rgba(80, 178, 69, 0.8);
}

.btn-red-rgba {
    background: rgba(255, 88, 69, 0.5);
    color: white;
    transition-duration: 500ms;
}

.btn-red-rgba:hover {
    background: rgba(255, 88, 69, 0.9);
}
